{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Окончание парсинга{% endblock %}

{% block css %}
<style>
body {
      background-color: #F6F2E6;
    }
</style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    {% if message %}
        <h1>{{ message }}</h1>
        <h1>Перейдите в нужную вам вкладку из меню сверху, справа.</h1>
        <br>
        <a href="{% url 'geo:private_room' %}"><BUTTON>Геопозиция</BUTTON></a>
    {% else %}
        <h1>Вы распарсили файл с городами, можете переходить во вкладку "Геопозиция"</h1>
        <br>
        <a href="{% url 'geo:private_room' %}"><BUTTON>Геопозиция</BUTTON></a>
    {% endif %}
{% endif %}

{% endblock %}
