{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Опросы{% endblock %}

{% block css %}
<style>
body {
      background-color: #F6F2E6;
    }
</style>
{% endblock %}

{% block content %}

    {% if message %}
        <h1>{{ message }}</h1>
        <h1>Перейдите во вкладку "ГЕОПОЗИЦИЯ" для работы.</h1>
        <br>
        <a href="{% url 'geo:private_room' %}"><BUTTON>Геопозиция</BUTTON></a>
    {% else %}
        <h1>Вы распарсили файл с городами, можете переходить во вкладку "Геопозиция"</h1>
        <br>
        <a href="{% url 'geo:private_room' %}"><BUTTON>Геопозиция</BUTTON></a>
    {% endif %}

{% endblock %}