{% extends "layout/base.html" %}

{% block title %}Успешное завершение{% endblock %}


{% block css %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/example.css' %}">
    <!-- Either serve jQuery yourself -->
    <script type="text/javascript" src="{% static 'js/vendor/jquery-2.1.0.min.js' %}"></script>
    <!-- or from a CDN -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>


<style>
body {
      background-color: #F6F2E6;
    }

</style>
{% endblock %}

{% block content %}
    {{ form.media }}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save" />
    </form>
{% endblock %}


